@use 'sass:map';

//colors

$accent-500: #397df6;

$danger-500: #e42222;

$dark-700: #0d0d0d;
$dark-900: #000000;

$light-100: #ffffff;
$light-300: #f7fbff;


// transitions
$transition-normal: 0.3s;

// для позиционированных элементов
$z-index-base: 1;
$z-index-dropdown: 10;
$z-index-modal: 100;
$z-index-tooltip: 1000;

// для продолжительности анимации
$animation-duration-fast: 0.2s;
$animation-duration-medium: 0.5s;
$animation-duration-slow: 1s;

// breakpoints для media-запросов
$breakpoint-small-mobile: 375px;
$breakpoint-mobile: 480px;
$breakpoint-large-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-large-desktop: 1200px;
$breakpoint-extra-large-desktop: 1440px;

// fonts
$text-styles: (
  large: (font-size: 26px,
    font-weight: 600,
    line-height: 36px,
  ),

  h1: (font-size: 20px,
    font-weight: 700,
    line-height: 36px,
  ),

  h2: (font-size: 18px,
    font-weight: 700,
    line-height: 24px,
  ),

  h3: (font-size: 16px,
    font-weight: 600,
    line-height: 24px,
  ),

  regular-16: (font-size: 16px,
    font-weight: 400,
    line-height: 24px,
  ),

  bold-16: (font-size: 16px,
    font-weight: 700,
    line-height: 24px,
  ),

  regular-14: (font-size: 14px,
    font-weight: 400,
    line-height: 24px,
  ),

  bold-14: (font-size: 14px,
    font-weight: 700,
    line-height: 24px,
  ),

  small: (font-size: 12px,
    font-weight: 400,
    line-height: 16px,
  ),

  semi-bold-small: (font-size: 12px,
    font-weight: 600,
    line-height: 16px,
  ),
);

@mixin apply-text-style($key) {
  font-size: map.get(map.get($text-styles, $key), font-size);
  font-weight: map.get(map.get($text-styles, $key), font-weight);
  line-height: map.get(map.get($text-styles, $key), line-height);
}

// fonts for links
$base-link: (
  font-weight: 400,
  text-decoration-line: underline,
  text-decoration-style: solid,
  text-decoration-skip-ink: none,
  text-decoration-thickness: auto,
  text-underline-offset: auto,
  text-underline-position: from-font,
);

$regular-link: (
  font-size: 14px,
  line-height: 24px,
);

$small-link: (
  font-size: 12px,
  line-height: 16px,
);

@mixin link-style($size-map) {
  font-weight: map.get($base-link, font-weight);
  font-size: map.get($size-map, font-size);
  line-height: map.get($size-map, line-height);
}
